@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');
.hero {
    background-image: url(./assets/background.jpg);
    background-size: cover;
}


.hero_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin: 0px 100px;
}

.hero_info {
    color: white;
    width: 695px;
    position: relative;
    bottom: 55px;

}

.hero_info h3 {
    border-left: solid 6px #E34276;
    padding-left: 18px;
    margin-bottom: 48px;
}

.hero_info p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    height: 169px;
    text-align: center;
    margin: 0px 17px;
}

.hero_image {
    position: relative;
    bottom: 45px;
}

.hero_image img {
    height: 508px;
    border-radius: 50px;
}

.hero_contact {
    display: flex;
    justify-content: space-around;
    margin-top: 27px;
}

/* button contact */
.hero_contact :nth-child(1){
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: #E34276;
    border-radius: 50px;
    padding: 12px 48px;
    border-style: none;
    cursor: pointer;
}

/* button CV */
.hero_contact :nth-child(2) {
    font-family: 'Noto Sans', sans-serif;
    font-size: large;
    color:white;
    font-weight: bold;
    background-color: transparent;
    border-style: none;
    padding: 12px;
    border-bottom: #E34276 solid 6px;
    cursor: pointer;
}
