.nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 35px 0px 35px;
    height: 40px;
    background-color: transparent;

}

.nav ul{
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    display: flex;
    list-style-type: none;
    align-content: center;
}

.nav_icons {
    font-size: 35px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E34276;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.nav_icons :nth-child(1):hover {
    color:white;
    transition: 0.5s ease;
}

.nav_icons :nth-child(2):hover {
    color:white;
    transition: 0.5s;
}
.nav_icons :nth-child(3):hover {
    color:white;
    transition: 0.5s;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links li {
    font-size: 18px;
    font-weight:bold;
    color: white;
    margin-right: 20px;
    align-items: center;
    overflow: hidden;
  }
  
.nav_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo img{
    height: 30px;
}


