.nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 35px;
    height: 40px;
    background-color: transparent;

}

.nav ul{
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    display: flex;
    list-style-type: none;
    align-content: center;
}

.nav_icons {
    font-size: 35px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E34276;
    cursor: pointer;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links li {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    align-items: center;
    
}
.nav_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo img{
    height: 30px;
}


