.projects {
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-size: cover;
}

.projects_container {
    background-color: #e24074;
    width: 75%;
    padding: 20px;
    border-radius: 5px;
}

.project_item {
    display: flex;
    justify-content: center;
}

.img {
    height: 350px;
    width: 650px;
    object-fit: contain;
}

.project_info {
    padding: 0px 80px;
    width: 40%;
}

.project_info p {
    margin-bottom: 40px;
}

.pill_container {
    padding-top: 20px;
}

.project_info a {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.pill {
    padding: 6px 8px;
    font-size: 10px;
    border-radius: 4px;
    margin-right: 5px;
    border: black 1px solid;
    display:inline-block;
}

.line {
    border-bottom: black 1px solid;
    width: 75%;
    display: block;
    margin: 40px auto;
}