.projects {
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-size: cover;
}

.projects_container {
    background-color: #e24074;
    width: 75%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 100px;
}

.project_item {
    display: flex;
    justify-content: space-between
}

.project_image {
    height: 300px;
}

.img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.project_info {
    padding-left: 40px;
    width: 40%;
}

.project_info h2 {
    margin-top: 0px;
}

.project_info p {
    margin-bottom: 40px;
}

.pill_container {
    padding-top: 20px;
    width: 100%;;
}

.pill_container p{
    margin-bottom: 0px;
}

.project_info a {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: 0.3s all;
}

.project_info a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transition: 0.3s all;
}

.pill {
    padding: 6px 8px;
    font-size: 10px;
    border-radius: 4px;
    margin-right: 5px;
    border: black 1px solid;
    display:inline-block;
}

@media screen and (max-width: 768px) {
    .project_item {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        margin: 0px 0px 20px 0px; 
    }
    
    .project_image {
        height: 260px;
    }
    
    .img {
        max-width:100%;
        max-height:100%;    
    }

    .project_info {
        width: auto;
        padding: 10px;
    }

    .project_item h2 {
        font-size: medium;
    }

    .project_info p {
        margin-bottom: 30px;
        font-size: small
    }

    .pill_container p{
        margin-bottom: 0px;
        font-size: 10px;
    }

    .pill {
        margin-bottom: 0%;
    }
}

@media screen and (min-width: 1900px) {
    .project_item {
        justify-content: space-around;
    }
    
}

@media screen and (max-width: 1480px) {
    .project_info {
        padding: 0px 16px 0px 16px;
    }
}

@media screen and (max-width: 1310px) {
    .project_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project_info {
        width: 95%;
        margin-top: 30px;
    }

    .img {
        max-width:100%;
        max-height:100%;    
    }
}

@media screen and (max-width: 840px) {
    .project_image {
        height: 265px;
        position: relative;
        top: 10px;
    }

    .project_image img {
        max-height: 100%;
        min-height: 100%;
    }

}


@media screen and (max-width: 450px) {
    .project_image {
        height: 170px;
        position: relative;
        top: 10px;
    }

    .project_image img {
        max-height: 100%;
        min-height: 100%;
    }

}

@media screen and (max-width: 375px) {
    .project_item {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        margin: 0px 0px 30px 0px; 
    }
    
    .project_info {
        width: 95%;
        padding: 0px;
    }

    .project_image {
        height: 159px;
        position: relative;
        top: 10px;
    }

    .project_image img {
        max-height: 100%;
        min-height: 100%;
    }

    .project_item h2 {
        font-size: medium;
    }

    .project_info p {
        margin-bottom: 30px;
        font-size: small
    }

    .project_info a {
        padding: 10px;
        font-size: small;

    }

    .pill_container p{
        margin-bottom: 0px;
        font-size: 10px;
    }

    .pill {
        margin-bottom: 0%;
    }
}

